body {  
    background-color: #000;    
    margin: 0;  
    overflow: hidden;  
    background-repeat: no-repeat;  
   }  
.div2 { 
    z-index: 363673; 
    color: rgb(255, 65, 97);
    font-size: 29px;
    position: absolute;
    top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 0;
}
.div1{
    position: absolute;
    z-index: 363673;
    color: blue;
    font-size: 29px;
    top: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    right: 0;
}